<div>
    <div class="form-register">
        <form [formGroup]="applyForm" action="">
            <h2>Register Page!</h2>
            <label for="email">Email</label>
            <input id="email" type="text" fromControlName="email">

            <label for="username">User name</label>
            <input id="username" type="text" fromControlName="userName">

            <label for="password">Password</label>
            <input id="password" type="text" fromControlName="password">

            <label for="address">Address</label>
            <input id="address" type="text" fromControlName="address">

            <button type="submit" class="primary">Apply Now</button>
        </form>
    </div>
</div>