<main id="main">
  <div id="content  -center">
    <div>
      <h1>PokeSearch</h1>
      <p>Look for the Pokémon you're interested.</p>
    </div>
    <div id="inputbar">
      <input #input_search type="text" placeholder="Search Pokemon...">
      <button type="button" (click)="searchOn(input_search.value)">Search</button>
    </div>
    <p>results of "{{ inputText}}"</p>

    <div id="pokemon-list">
      <div *ngFor="let pokemon of pokemonFiltered;">
        <img [src]="pokemon.sprites['front_default']">
        <p>Name: <span style="color: blue;">{{pokemon.name}}</span></p>
        <p>Type: <span *ngFor="let types of pokemon.types">{{types.type.name}} </span></p>
      </div>
    </div>
  </div>
</main>