<div id="content-center" class="pt-4">
    <div id="pokemon-list" class="grid gap-3 flex justify-content-center pt-2">
        <div class="col-2 border-1 border-round border-bluegray-100 p-0 h-16rem w-18rem shadow-2"
            *ngFor="let pokemon of pokemonFiltered;">
            <div class="flex justify-content-center">
                <img [src]="pokemon.sprites['front_default']">
            </div>
            <div class="text-center">
                <p>
                    <span class="bg-bluegray-400 border-round p-1">
                        <span class="text-white font-bold">ID:
                            {{pokemon.id}}</span>
                    </span>
                    <span class=" text-bluegray-700 font-bold text-xl pl-2">{{pokemon.name}}</span>
                </p>
                <p>Type: <span *ngFor="let types of pokemon.types">{{types.type.name}} </span></p>
                <div>
                    <p-button label="Details" [text]="true" [raised]="true" severity="info" size="small"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>